@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --bg-primary: linear-gradient(130deg, #000 0%, #272727 44.03%, #494949 99.99%, #727272 100%);
    --bg-secondary: #161616; 
    --font-color-primary: #E0E0E0;
    --font-color-secondary: #70FF00;
    --font-color-tertiary: #828282;
    --font-family-primary: 'Roboto', sans-serif;
    --font-family-secondary: 'Courier Prime',sans-serif;
    --font-family-tertiary: 'Roboto Mono', sans-serif;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100%;
    width: 100%;
    background: var(--bg-primary);
}

p {
    font-family: var(--font-family-primary);
    font-size: 1.2em;
    line-height: 50px;
    color: #f2f2f2;
    font-weight: 400;
}
h1{
    font-family: var(--font-family-primary);
    font-size: 2.2em;
    font-weight: 700;
    color: var(--font-color-primary);
}
h2{
    font-family: var(--font-family-tertiary);
    color: var(--font-color-secondary);
    font-size: 2em;
    font-weight: 700; 
}
h3{
    color: var(--font-color-secondary);
    font-family: var(--font-family-primary);
    font-size: 2em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
span{
    color: var(--font-color-primary);
    font-family: var(--font-family-primary);
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 15px 15px 15px;
}

.portifolio {
    font-family: var(--font-family-primary);
    font-size: 1.8em;
    font-weight: 500;
}
.portifolio span {
    color: #828282;
 }

 .portifolio a{
    text-decoration: none;
    color: var(--font-color-primary);
 }

li {
    display: inline-block;
    margin-left: 20px;
}

li a{
    font-family: var(--font-family-primary);
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    color: var(--font-color-primary);
}
li a:hover{
    color: var(--font-color-secondary);
    transition: 0.8s;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

 .caixa-principal {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
 }

 .avatar-img {
    position: relative;
 }

.avatar img{   
    position: absolute;
    width: 300px;
    height: auto;
}
.background img{  
    width: 300px;
    height: auto;
    border-radius: 35%;
    box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.38);
}
.texto{
    display: flex;
    flex-direction: column;
    align-items: initial;
}

 .subtitle p{
    font-family: var(--font-family-primary);
    font-size: 2em;
    font-weight: 500;
    color: var(--font-color-primary);
    margin-top: 20px;
 }
 
article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 450px;
}

article p {
    color: var(--font-color-primary);
    font-family: var(--font-family-primary);
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 10px;
 }

 .sobremim {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
 }

 .box-retangulo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
 .card-retangulo{
    width: 280px;
    height: 60px;
    background-color: #4F4F4F;
    border-radius: 6px;
    margin-top: 5px;
    box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.38);
 }
 .card-retangulo h3{
    color: var(--font-color-primary);
    font-family: var(--font-family-secondary);
    font-size: 1.2em;
    font-weight: 500;  
    margin-top: 10px;  
    margin-left: 20px;
 }

 .card-retangulo a {
    font-family: var(--font-family-secondary);
    color: var(--font-color-secondary);
    font-size: 0.8em;
    font-weight: 400;
    text-decoration: underline;
    margin-left: 20px;
 }

 .card-retangulo img{
    width: 30px;
    height: 30px;   
    float: right;
    margin-right: 15px;
    margin-top: -15px;
}
.box-habilidades{
    flex-direction: column;  
  
    background-color: var(--bg-secondary);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.habilidades {
    padding-bottom: 10px;
}
.img-hab{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;

}
.img-hab img{   
    align-items: center;
    padding: 30px 0px;
    width: 80px;
    margin-left: 25px;
}

.projetos-centralizado{
    display: flex;
    flex-direction: column;
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 50px;
}

.projetos-direita {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 470px;
    height: 240px;
}

.projetos-esquerda {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}